h3{
	position: absolute;
	top: 25px;
	left: 250px;
	color: white;
	font-size: 15px;
}
input{
	position: absolute;
	top: 42px;
	left: 310px;
}
#search{
	background-color: #12343b;
	border: 1px solid white;
}
#search::placeholder {
  color: ghostwhite;
}
.husk{
	position: absolute;
	top: 45px;
	left: 650px;
}
	div div p{
		position: absolute;
		top: 0px;
		left: 0px;
}
