div{
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	border-style: groove;
	border-width: 15px;
	border-color: white black white black;
	width: 100vw;
    height: 100vh;
    padding: 20px;
    border-radius: 50px;
}
h1{
	font-size: 50px;
	text-align: right;
}
h2{
	font-size: 30px;
	text-align: right;
}