.gvm{
	text-align: center;
	font-size: 50px;
}
h1{
	text-align: left;
}
h2 span{
	color: blue;
}
a{
	margin-right: 40px;
}
.lower{
	font-size: 12px;
	color: black;
}
.upper{
	font-size: 20px;
	color: black;
}
.bg{
	background-color: greenyellow;
}
table{
	border-collapse: collapse;
	width: 1500px;
	height: 150px;
}
td{
	padding: 15px;
}
.black-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px; /* Add some margin to separate the buttons */
}
dt{
	font-weight: bold;
}
dd{
	margin: 0;
	padding: 0;
}
pre{
	position: relative;
	top: 40px;
	left: 50px;
}
blockquote{
	font-style: oblique;
}
hr{
	filter: brightness(100%);
}
.jersey{
	text-align: right;
}
div p{
	text-align: center;
	padding: 35px;
}
input{
	width: 180px;
}
textarea{
	width: 180px;
	height: 240px
}